body {
  background: rgb(204,204,204);
  font: 12pt "Roboto", "Arial", sans-serif; 
} 
figcaption {
  font-style: italic;
  color: gray;
  text-align: center;
} 
/* fix image taille error */
img {
  width: 100% ;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}

article[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
body, article[size="A4"] {
  margin: 0;
  padding: initial;
  box-shadow: initial;
}
}