@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body {
  font: 14pt "Roboto"; 
}

/* fix image taille error */
img {
  width: 100%;
}

h2{
  font-size: 11pt
}

p{
  font-size: 10pt;
}

#image:nth-child(n){
  font-size: 9pt;
  color: #787878;
  text-align: center;
  font-style: italic;
}

article[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}


@media print {
body, article[size="A4"] {
  margin: 0;
  padding: initial;
  box-shadow: initial;
}
}