@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: auto;
}

/* fix image taille error */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;}

article[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


    img+p {
    
    
      padding: 2px; 
      text-align: center; 
    }

@media print {

  body,
  article[size="A4"] {
    margin: 0;
    padding: initial;
    box-shadow: initial;
  }

  img {
    width: 85%;
  }


}