@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


img + p {
  color: rgb(137, 134, 134);
  text-align: center;
}
img {
  width: 100%;
}
/* fix image taille error */
img {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}
body[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
article[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

body {
  font-family: Arial, sans-serif;
}
h2 {
  color: #333;
  border-bottom: 1px solid #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  background-color: #f2f2f2;
  /* margin: 5px 0; */
  padding: 10px;
  border-radius: 5px;
}

pre{
  font-family: monospace;
  background-color: #f0f0f0;
  /* padding: 10px; */
  border-radius: 5px;
}

@media print {

  body,
  body,
  [size="A4"] {
    margin: 0;
    padding: initial;
    box-shadow: initial;
  }

  img {
    width: 85%;
  }
}

