body {
  background: rgb(204,204,204);
  font: 12pt "Tahoma"; 
} 
page[size="A4"] {
  display: block;
  width: 21cm;
  height: 29.7cm;
  background: white;
  
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  /* font-size: 12px; */
}

@media print {
body, page[size="A4"] {
  margin: 0;
  padding: initial;
  box-shadow: initial;
}
}